body {
    background-color: grey;
}

#container {
    width: 60%;
    height: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    margin-top: 5%
}

#404 {
    height: auto;
    width: auto;
    font-family: arial;
    font-size: 40px;
    font-weight: bolder;
   
    

}
